asn1crypto==0.24.0
blueprint==3.4.2
cffi==1.13.2
Click==7.0
cryptography==2.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.21.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pdfkit==0.6.1
pycparser==2.19
pycrypto==2.6.1
PyJWT==1.7.1
pyminizip==0.2.4
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
virtualenv==16.7.7
Werkzeug==0.15.5
